<app-navbar></app-navbar>

<section class="flex relative justify-center py-24 px-5 md:px-24 xl:px-36 2xl:px-48 3xl:px-96">
    <div class="container">
        <div class="container flex flex-col items-center">
            <div class="text-center mb-8">
                <h1 class="text-2xl">Convert your files here</h1>
				<h2 class="text-xl">Upload and convert your files to several different formats</h2>
            </div>

			<div class="relative" appDragDrop [backdrop]="fileBackdrop" (filesDropped)="uploadFiles($event)">
				<div class="card w-[600px] max-w-full px-10 py-10">
					<div class="text-center">
						<input class="hidden" type="file" id="fileInput" multiple (change)="fileInputChange($event)">
						<label for="fileInput" class="button-default text-lg bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-700/20 hover:shadow-blue-700/40">
							<fa-icon class="mr-2" [icon]="['fas', 'cloud-upload']"></fa-icon>
							<span>Select File For Upload</span>
						</label>
	
						<div class="mt-3">Or drop your files here</div>
					</div>
				</div>

				<div #fileBackdrop class="hidden pointer-events-none justify-center items-center rounded-xl absolute inset-0 bg-[rgba(255,255,255,0.8)]">
					<span>Drop files to start uploading</span>
				</div>
			</div>

			<div class="card w-[600px] max-w-full px-5 py-5 my-5" *ngFor="let file of recentFiles">
				<div class="flex justify-between mb-3">
					<span>Uploading {{ file.fileName }}</span>

					<button type="button" class="button-default bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-700/20 hover:shadow-blue-700/40">
						<fa-icon class="mr-2" [icon]="['fas', 'shuffle']"></fa-icon>
						<span>Convert</span>
					</button>
				</div>

				<div class="flex-start flex relative h-4 overflow-hidden rounded bg-slate-200 font-sans text-xs font-medium w-full">
					<div class="flex h-full items-baseline justify-center overflow-hidden break-all bg-blue-700 text-white progress-bar" [style.width]="file.uploadPercentageComplete + '%'"></div>
					<span class="absolute inset-0 text-center text-white">{{ file.uploadPercentageComplete }}%</span>
				</div>
			</div>

			<button type="button" class="mt-5 text-sm">
				<fa-icon class="mr-2" [icon]="['fas', 'clock-rotate-left']"></fa-icon>
				<span>Show older files</span>
			</button>
        </div>
    </div>
</section>